<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <title>Protist Design {% if page.title %}-{{ page.title }} {% endif %}</title>
  <meta name="description" content="A Portland Oregon design studio with a strong sense of craft and wonder.">
  <link rel="stylesheet" type="text/css" href="{{ '/css/normalize.css' | prepend:site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ relative_url }}/css/main.css" />
</head>
