<!-- googleoff: all -->
<div class="surprise surprise-footer">
  <div class="fun">
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block vert-zig-zags"></div>

    <div class="ani-block waves">
      <div class="wave"></div>
    </div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block blank"></div>
    <div class="ani-block small-white-triangle-bottom-left"></div>
    <div class="ani-block triangle-light-top-left"></div>
    <div class="ani-block triangle-outline-bottom-right"></div>

    <div class="ani-block dark-triangle-bottom-left"></div>
    <div class="ani-block small-x-top-right"></div>
    <div class="ani-block small-triangle-bottom-left"></div>
    <div class="ani-block triangle-outline-top-left"></div>
    <div class="ani-block dark-triangle-bottom-right"></div>
    <div class="ani-block horz-zig-zags"></div>
    <div class="ani-block dark-triangle-bottom-right"></div>
  </div>
</div>
<!-- googleon: all -->
