<!-- googleoff: all -->
<div class="surprise">
    <div class="fun">
        <div class="ani-block triangle-light-top-right"></div>
        <div class="ani-block triangles-light-big-small"></div>
        <div class="ani-block triangle-light-top-right"></div>
        <div class="ani-block triangle-light-top-right"></div>
        <div class="ani-block triangles-4"></div>
        <div class="ani-block triangles-and-x"></div>
        <div class="ani-block triangle-light-top-left"></div>

        <div class="ani-block blank"></div>
        <div class="ani-block triangle-outline-top-left"></div>
        <div class="ani-block circle-halves"></div>
        <div class="ani-block circle-in-square"></div>
        <div class="ani-block waves">
            <div class="wave"></div>
        </div>
        <div class="ani-block triangle-light-top-left"></div>
        <div class="ani-block triangle-outline-and-solid"></div>

        <div class="ani-block blank"></div>
        <div class="ani-block blank"></div>
        <div class="ani-block two-circles">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
        </div>
        <div class="ani-block triangles-3-1"></div>
        <div class="ani-block triangles-light-big-small-2"></div>
        <div class="ani-block blank"></div>
        <div class="ani-block blank"></div>

        <div class="ani-block blank"></div>
        <div class="ani-block blank"></div>
        <div class="ani-block triangle-outline-small"></div>
        <div class="ani-block triangle-light-top-left"></div>
    </div>
</div>
<!-- googleon: all -->
