@import "neat";
@import url(https://fonts.googleapis.com/css?family=GFS+Didot|Lato:400,400i,700|Lora);

$black: #323230;
$purple: #B590A8;
$light-purple: #D5B3C8;
$yellow: #EFE144;
$light-yellow: #FBF6C9;
$bg: #F3F1E2;
$cream: #F3F1E2;
$red: #EA5457;

$light-grey: #FBFAFA;

$sans-serif: "Lato", sans-serif;
$serif: "Didot","Lora", serif;

$main-gutter: 40px;

body {
  font-family: $sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {}
  &:visited {}
}

img {
  display: block;
  width: 100%;
}

h2 {
  margin-top: $main-gutter;
  margin-bottom: $main-gutter;
  font-family: $serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 0.7em;
}

h3 {
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
