$main-grid: (
  columns: 12,
  gutter: $main-gutter,
  media: 768px,
);
$full-bleed: (
  columns: 12,
  gutter: 0px,
  media: 768px,
);
$seven-grid: (
  columns: 7,
  gutter: 0,
);
$desktops: (
  media: 1000px,
);
$large-desktops: (
  media: 1400px,
);

// Main Grid
.main-grid { @include grid-container; }

.main-grid__one { @include grid-column(1, $main-grid); }
.main-grid__two { @include grid-column(2, $main-grid); }
.main-grid__three { @include grid-column(3, $main-grid); }
.main-grid__four { @include grid-column(4, $main-grid); }
.main-grid__five { @include grid-column(5, $main-grid); }
.main-grid__six { @include grid-column(6, $main-grid); }
.main-grid__seven { @include grid-column(7, $main-grid); }
.main-grid__eight { @include grid-column(8, $main-grid); }
.main-grid__nine { @include grid-column(9, $main-grid); }
.main-grid__ten { @include grid-column(10, $main-grid); }
.main-grid__eleven { @include grid-column(11, $main-grid); }
.main-grid__twelve { @include grid-column(12, $main-grid); }

.main-grid__push-two { @include grid-push(2, $main-grid); }

// Full bleed
.full-bleed { @include grid-container; }

.full-bleed__one { @include grid-column(1, $full-bleed); }
.full-bleed__two { @include grid-column(2, $full-bleed); }
.full-bleed__three { @include grid-column(3, $full-bleed); }
.full-bleed__four { @include grid-column(4, $full-bleed); }
.full-bleed__five { @include grid-column(5, $full-bleed); }
.full-bleed__six { @include grid-column(6, $full-bleed); }
.full-bleed__seven { @include grid-column(7, $full-bleed); }
.full-bleed__eight { @include grid-column(8, $full-bleed); }
.full-bleed__nine { @include grid-column(9, $full-bleed); }
.full-bleed__ten { @include grid-column(10, $full-bleed); }
.full-bleed__eleven { @include grid-column(11, $full-bleed); }
.full-bleed__twelve { @include grid-column(12, $full-bleed); }

// Seven grid
.seven-grid__one { @include grid-column(1, $seven-grid); }
.seven-grid__two { @include grid-column(2, $seven-grid); }
.seven-grid__three { @include grid-column(3, $seven-grid); }
.seven-grid__four { @include grid-column(4, $seven-grid); }
.seven-grid__five { @include grid-column(5, $seven-grid); }
.seven-grid__six { @include grid-column(6, $seven-grid); }
.seven-grid__seven { @include grid-column(7, $seven-grid); }
