.main-section {
  @extend .main-grid;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: $main-gutter * 2;
  padding-bottom: $main-gutter * 2;
  // @include grid-visual(rgba(255, 0, 0, 0.1), $main-grid);
}

.full-bleed {
  @extend .full-bleed;
  // @include grid-visual(rgba(0, 0, 255, 0.1), $full-bleed);
}

.seven-grid {
  // background-color: rgba(0, 255, 0, 0.1);
  // @include grid-visual(rgba(0, 255, 0, 0.1), $seven-grid);
}

// ABOUT SECTION
.about {
  padding-top: $main-gutter * 2;
  padding-bottom: $main-gutter * 2;
}
.about > div {
  @include grid-container;
}
.about div:nth-child(1) > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(4, $full-bleed);
    @include grid-push(6, $full-bleed);
  }
}
.about div:nth-child(2) > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(4, $full-bleed);
    @include grid-push(2, $full-bleed);
  }
}

// PROCESS SECTION
.process {}
.step > div {
  @extend .main-section;
}
.step.one {
  background-color: $light-purple;
}
.step.two, .step.three {
  background-color: $cream;
}
.process-body {
  @extend .main-grid__twelve;
  @include grid-media($main-grid) {
    @include grid-column(8);
    @include grid-push(2, $main-grid);
  }
}

// WORK SECTION
.work-section {
  @extend .main-section;
}
.work-section > div {
  @extend .main-grid__twelve;
}
.work-section > div:first-child { // work heading
  @extend .main-grid__twelve;
  @include grid-media($main-grid) {
    @include grid-column(8);
    @include grid-push(2, $main-grid);
  }
}

// PORTFOLIO HIGHLIGHTS
.portfolio-highlights {
  margin-bottom: $main-gutter;
}

// PORTFOLIO GALLERY
ul.portfolio-gallery {
  @extend .main-section;
  padding-left: 0;
}
.portfolio-gallery li {
  @extend .main-grid__six;
  margin-bottom: $main-gutter;
  @include grid-media($main-grid) {
    @include grid-column(4);
  }
}

// PROJECT
.project-content:nth-child(even) {
  background-color: #f9f9f9;
}
.project-content > div {
  @extend .main-section;
}

// PROJECT INTRO
.project-intro > div {
  @extend .main-section;
}
.project-intro > div > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(10);
    @include grid-push(1, $main-grid);
  }
}
.project-intro img {
  @include grid-column(12, $main-grid);
}

// PROJECT LAYOUT ONE
.project-layout-one > div {
  @extend .main-section;
  padding-bottom: 0;
}
.project-layout-one > div:nth-child(1) > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(8);
    @include grid-push(2, $main-grid);
  }
}
.project-layout-one > div:nth-child(2) > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(5, $main-grid);
  }
}

// PROJECT LAYOUT TWO
.project-layout-two > div {
  @extend .main-section;
}
.project-layout-two > div > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(5, $main-grid);
  }
}
.project-layout-two img {
  @include grid-column(12, $main-grid);
}

// PROJECT LAYOUT THREE
.project-layout-three > div {
  @extend .main-section;
}
.project-layout-three > div > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(8, $main-grid);
    @include grid-push(2, $main-grid);
  }
}
.project-layout-three img {
  @include grid-column(12, $main-grid);
}

// PROJECT LAYOUT FOUR
.project-layout-four > div {
  @extend .main-section;
}
.project-layout-four > div > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(4, $main-grid);
  }
}
.project-layout-four img {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(8, $main-grid);
  }
}

// PROJECT LAYOUT FOUR REVERSED
.project-layout-four-reversed > div {
  @extend .main-section;
}
.project-layout-four-reversed > div > div {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(4, $main-grid);
    @include grid-shift(8, $main-grid);
  }
}
.project-layout-four-reversed img {
  @include grid-column(12, $main-grid);
  @include grid-media($main-grid) {
    @include grid-column(8, $main-grid);
    @include grid-shift(-4, $main-grid);
  }
}

// FOOTER
footer {
  min-height: 400px;
  overflow: hidden;
  background-color: red;
}
