.main-section {
  @extend .main-grid;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @include grid-visual(rgba(255, 0, 0, 0.1), $main-grid);
}

.seven-grid {
  // background-color: rgba(0, 255, 0, 0.1);
  @include grid-visual(rgba(0, 255, 0, 0.1), $seven-grid);
}
