// NAVIGATION
nav[role=navigation] ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  @include grid-media($full-bleed) {
    justify-content: flex-end;
  }
}
.learn-banner .active a { color: $red; }
.work-banner .active a { color: $yellow; }

// HEADER
.main-banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &.learn-banner { background-color: $cream; }
  &.work-banner { background-color: $purple; }
}
.main-banner > div {
  @include grid-container;
}
.main-banner .logo {
  @include grid-column(8, $full-bleed);
  @include grid-push(2, $full-bleed);
  @include grid-media($full-bleed) {
    position: absolute;
    bottom: $main-gutter;
    @include grid-column(3, $full-bleed);
    @include grid-push(1, $full-bleed);
  }
  img {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-banner .subtitle {
  @include grid-column(10, $full-bleed);
  @include grid-push(1, $full-bleed);
  text-align: center;
  @include grid-media($full-bleed) {
    @include grid-column(4, $full-bleed);
    @include grid-push(7, $full-bleed);
    text-align: left;
  }
}

.project-banner {
  position: relative;
  overflow: hidden;
  background-color: yellow;
}
.project-banner > div {
  @include grid-container;
}
.project-banner .logo {
  @include grid-column(4, $full-bleed);
  img {
    max-width: 300px;
  }
}

// ABOUT
.about { position: relative; }
.about:before {  // Vertical line
  @include grid-media($main-grid) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    border-right: 1px solid $yellow;
    z-index: -1;
  }
}
.about .what {
  @include grid-media($main-grid) {
    text-align: right;
  }
  ul {
    padding: 0;
    list-style: none;
  }
}

// PROCESS
.step-one, .step-three {
  background-color: blue;
}
.step-two {
  background-color: yellow;
}

// PORTFOLIO GALLERY
ul.portfolio-gallery {
  list-style: none;
}
.portfolio-gallery li {
}

// FOOTER
footer {
  background-color: $black;
}
