---
layout: default
---

<main>
<header role="banner">
  {% if page.back %}
    <span class="back-btn"><a href="{{ site.github.url }}{{ page.back }}">Back</a></span>
  {% endif %}
  <h1 class="logo"><a href="/">Protist</a></h1>
  <h2>A Portland design studio with a strong sense of craft and wonder.</h2>
  {% include navigation.html %}
</header>

<section class="work">
  <div>
    <header class="page-heading">
      <h2>Our work</h2>
      <h3>Donec ullamcorper nulla non metus auctor fringilla.</h3>
    </header>
    <h4>Highlights</h4>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui.</p>
  </div>

  <div class="portfolio-highlights">
    <div class="highlight">
      <a href="/work/rapt-media">
        <h5>Rapt Media</h5>
        <img src="/images/temp-highlight.svg" alt="Rapt Media" />
      </a>
    </div>
    <div class="highlight">
      <a href="/work/qwikly">
        <h5>Qwikly</h5>
        <img src="/images/temp-highlight.svg" alt="Qwikly" />
      </a>
    </div>
    <div class="highlight">
      <a href="/work/100-year-party">
        <h5>100 Year Party</h5>
        <img src="/images/temp-highlight.svg" alt="100 Year Party" />
      </a>
    </div>
  </div>

  <ul class="portfolio-gallery">
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
    <li><a href="#"><img src="/images/temp-portfolio.svg" alt="100 Year Party" /></a></li>
  </ul>
</section>
</main>
