<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{ page.id }}">
  {% include navigation.html %}
  <div class="parallax">
    {{ content }}
    {% if page.id == 'learn' %}
      {% include surprise-footer.html %}
    {% endif %}
    <footer>
      <p><a href="mailto:brannan@protistdesign.com">brannan@protistdesign.com</a></p>
    </footer>
  </div>
  <div class="lightbox">
    <span class="lightbox-close"></span>
    <div class="img-wrap">
      <!-- <img src="{{ '/images/gallery/rapt-composer.png' | prepend:site.baseurl }}" alt="" /> -->
    </div>
  </div>
{% include scripts.html %}
</body>
</html>
